In [18]:
#pip install emoji

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import emoji
import matplotlib
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("data\Datathon 2024 - Reto Hey - Dataset Pu√¨blico - Sheet1.csv")
df.shape

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_3284\785963788.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("data\Datathon 2024 - Reto Hey - Dataset Pu√¨blico - Sheet1.csv")

(812, 3)

In [21]:
df.head(10)

         date time                                              tweet
0  01/01/2023  NaN  Resuelto, much√≠simas gracias , excelente servi...
1  02/01/2023  NaN                       Muchas gracias, espero su dm
2  02/01/2023  NaN                                    Muchas gracias!
3  02/01/2023  NaN  Algo similar me paso. Quer√≠a renovar mi token ...
4  02/01/2023  NaN  Yeeeei! a trav√©s de mi cuenta en acabo de cont...
5  02/01/2023  NaN  Esta es la se√±al que necesitan para tener el m...
6  03/01/2023  NaN                                          Gracias üòÅ
7  03/01/2023  NaN                                   Muchas gracias üòä
8  03/01/2023  NaN  Yo no s√© mucho, pero te recomiendo la Inversi√≥...
9  04/01/2023  NaN  Gracias por la playera que me dieron en Galer√≠...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    812 non-null    object
 1   time    424 non-null    object
 2   tweet   812 non-null    object
dtypes: object(3)
memory usage: 19.2+ KB

In [23]:
df["car"] = [len(msg) for msg in df["tweet"]]
df["pal"] = [len(msg.split()) for msg in df["tweet"]]

In [24]:
df.head(10)

,date,time,tweet,car,pal
0,01/01/2023,NaN,"Resuelto, much√≠simas gracias , excelente servi...",62,8
1,02/01/2023,NaN,"Muchas gracias, espero su dm",28,5
2,02/01/2023,NaN,Muchas gracias!,15,2
3,02/01/2023,NaN,Algo similar me paso. Quer√≠a renovar mi token ...,159,28
4,02/01/2023,NaN,Yeeeei! a trav√©s de mi cuenta en acabo de cont...,252,47
5,02/01/2023,NaN,Esta es la se√±al que necesitan para tener el m...,69,13
6,03/01/2023,NaN,Gracias üòÅ,9,2
7,03/01/2023,NaN,Muchas gracias üòä,16,3
8,03/01/2023,NaN,"Yo no s√© mucho, pero te recomiendo la Inversi√≥...",182,36
9,04/01/2023,NaN,Gracias por la playera que me dieron en Galer√≠...,53,10

In [37]:
# Equivalente a:
sns.histplot(x = "car", data = df).set(xlabel='Cantidad de Caracteres', ylabel='Conteo')

# Convertir a svg:
plt.savefig(r'.\img\caracteres.svg')

In [38]:
# Equivalente a:
sns.histplot(x = "pal", data = df).set(xlabel='Cantidad de Palabras', ylabel='Conteo')

# Convertir a svg:
plt.savefig(r'.\img\palabras.svg')

In [27]:
df.sort_values(by = 'pal', ascending = True).head(20)

           date      time          tweet  car  pal
81   25/01/2023       NaN     Gracias!!!   10    1
201  08/03/2023       NaN       Gracias!    8    1
256  24/03/2023       NaN       Gracias!    8    1
202  08/03/2023       NaN       Listo!!!    8    1
207  09/03/2023       NaN       ayuda!!!    8    1
250  22/03/2023       NaN        Gracias    7    1
715  11/01/2024  15:20:48        Gracias    7    1
740  26/01/2024  17:41:58         Jajaja    6    1
215  13/03/2023       NaN       Gracias!    8    1
562  02/10/2023  19:50:21        Gracias    7    1
528  13/09/2023  16:02:39        ayuda!!    7    1
221  13/03/2023       NaN    Excelente!!   11    1
477  28/07/2023  21:02:59           Yap!    4    1
222  13/03/2023       NaN      Excelente    9    1
45   17/01/2023       NaN        Gracias    7    1
46   17/01/2023       NaN        Thanks!    7    1
96   28/01/2023       NaN      Excelente    9    1
457  18/07/2023  18:15:18        Gracias    7    1
229  14/03/2023       NaN  Exitoüè≥Ô∏è‚Äçüåàüè≥Ô∏è‚Äçüåà   13    1
100  30/01/2023       NaN        ThankU!    7    1

In [28]:
df.sort_values(by = 'pal', ascending = False).head(20)

,date,time,tweet,car,pal
745,01/02/2024,00:51:32,"de debito puedes pedir nu desde la app, tmb he...",277,59
95,28/01/2023,NaN,"Amistad, usa si usas tu tarjeta 6 veces al mes...",268,54
620,31/10/2023,18:51:34,Lo verdaderamente interesante de heybanco es s...,271,54
777,16/03/2024,16:45:25,Hice por mail una sugerencia en la app en cuan...,276,53
55,18/01/2023,NaN,üí∞La sexta opci√≥n est√° opci√≥n es de las mejores...,268,53
217,13/03/2023,NaN,Me siguen hablando en horario laboral.El que s...,276,52
784,27/03/2024,20:47:08,Yo s√≠ recomiendo! Aunque siento que es dif√≠cil...,276,52
434,06/07/2023,05:06:15,"ay suena s√∫per bien, justo lo que me anda gust...",268,52
27,10/01/2023,NaN,"Es de 35,000 UDIS (184,000).De todas las plata...",273,51
393,16/06/2023,18:03:36,He probado 4 bancos tradicionales diferentes y...,261,49
169,27/02/2023,NaN,Pero que tremenda sabidur√≠a üëè me quede anonada...,266,48
309,19/04/2023,NaN,"Excelente, muchas gracias por su sopoe, t√≠o he...",271,47
292,04/04/2023,NaN,Te cuento lo que hice Yo tampoco ten√≠a Histori...,260,47
4,02/01/2023,NaN,Yeeeei! a trav√©s de mi cuenta en acabo de cont...,252,47
506,22/08/2023,00:52:31,En la Comunidarks me recomendaron la Rappicard...,278,47
602,28/10/2023,20:57:12,"Gracias, sigan con esas propuestas tan inovado...",280,47
468,22/07/2023,23:11:44,Yo he tenido buena experiencia con HeyBanco. 1...,254,45
610,28/10/2023,13:07:09,Antes que nada bienvenido a Ual√°. Gracias por ...,262,45
411,22/06/2023,15:16:55,"Buen dia, saque un carro usado en merkauto, y ...",245,45
409,21/06/2023,16:32:41,Si nunca hab√≠a tenido este tipo de situaci√≥n c...,240,45

In [29]:
for i in range(len(df)):
    df.loc[i,'tweet2'] = emoji.demojize(df.loc[i,'tweet'], language='es')

In [30]:
df

,date,time,tweet,car,pal,tweet2
0,01/01/2023,NaN,"Resuelto, much√≠simas gracias , excelente servi...",62,8,"Resuelto, much√≠simas gracias , excelente servi..."
1,02/01/2023,NaN,"Muchas gracias, espero su dm",28,5,"Muchas gracias, espero su dm"
2,02/01/2023,NaN,Muchas gracias!,15,2,Muchas gracias!
3,02/01/2023,NaN,Algo similar me paso. Quer√≠a renovar mi token ...,159,28,Algo similar me paso. Quer√≠a renovar mi token ...
4,02/01/2023,NaN,Yeeeei! a trav√©s de mi cuenta en acabo de cont...,252,47,Yeeeei! a trav√©s de mi cuenta en acabo de cont...
...,...,...,...,...,...,...
807,21/04/2024,15:21:43,"Ahora confirmo, gracias estimado",32,4,"Ahora confirmo, gracias estimado"
808,23/04/2024,22:52:05,üòî de acuerdo!! Muchas gracias.,30,5,:cara_desanimada: de acuerdo!! Muchas gracias.
809,23/04/2024,21:30:12,"T√≠o cuando me van a graduar, tengo la TDC gara...",149,32,"T√≠o cuando me van a graduar, tengo la TDC gara..."
810,25/04/2024,00:51:24,"una duda, con qui√©n tengo que ver si tengo pro...",195,38,"una duda, con qui√©n tengo que ver si tengo pro..."
811,26/04/2024,13:30:56,"Wey, lo mejor de es que puedo pagar con Apple ...",52,12,"Wey, lo mejor de es que puedo pagar con Apple ..."

El siguiente c√≥digo es una demostraci√≥n de la aplicaci√≥n con flet

In [40]:
import matplotlib
import matplotlib.pyplot as plt
import flet as ft
from flet import View, Page, AppBar, 

matplotlib.use("svg")

def main(page: ft.Page):
    page.title="sentiment analysis"
    img = ft.Image(
        src=r'img\caracteres.svg'
    )

    page.add(img)
    page.update()

ft.app(target=main)

RuntimeError: asyncio.run() cannot be called from a running event loop